.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.formbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border: 1px solid transparent;
  transition: border 0.3s;
  background-color: yellowgreen;
  border-radius: 8px;
  cursor: pointer;
  gap: 15px;
}
.formbtn:hover,
.formbtn:focus {
  border: 1px solid #1f00e7;
}
